<!DOCTYPE html>
<html>
{% load static %}

<head>
	<title> Tutorial Django </title>
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
</head>

<body>

	<div class="container-fluid">

        <h2> Exitoso! </h2>

    </div>

</body>

<footer> &copy Cinthya Ramos </footer>

</html>